.section {
  background-image: radial-gradient(
      circle farthest-side at top right,
      transparent,
      var(--sapphire)
    ),
    radial-gradient(
      ellipse farthest-corner at 0% 100%,
      transparent,
      var(--ruby)
    );
  animation: bg-change 5s infinite;
}

@keyframes bg-change {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-45deg);
  }
}
