.section {
  background-image: radial-gradient(
      circle farthest-side at top right,
      transparent,
      var(--sapphire)
    ),
    radial-gradient(
      ellipse farthest-corner at 0% 100%,
      transparent,
      var(--ruby)
    );
  animation: var(--bg-change) 5s infinite;
}

.page {
  display: flex;
}
.media {
  position: relative;
  width: 50vw;
}
.main_article {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-left: 1px solid var(--concrete);
}
.intro_video_mobile {
  display: none;
}
.intro_video {
  display: block;
  z-index: 2;
}

@media only screen and (max-width: 760px) {
  .page {
    flex-direction: column;
    width: 100%;
  }
  .intro_video_mobile {
    display: block;
  }
  .intro_video {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
}
