.section {
  background-image: radial-gradient(
      circle farthest-side at top right,
      transparent,
      var(--sapphire)
    ),
    radial-gradient(
      ellipse farthest-corner at 0% 100%,
      transparent,
      var(--ruby)
    );
  animation: var(--bg-change) 5s infinite;
}

.page {
  display: flex;
}
.media {
  display: none;
  position: relative;
  width: 50vw;
}
.card_input {
  padding: 2rem;
}
.main_article {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-left: 1px solid var(--concrete);
  z-index: 2;
  padding: 5%;
}
.main_article_overlay {
  height: 100vh;
  width: 60vw;
  position: absolute;
  z-index: 200;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(35, 35, 35, 0.12) 0%,
    rgba(35, 35, 35, 0) 10%,
    rgba(35, 35, 35, 0) 90%,
    rgba(35, 35, 35, 0.12) 100%
  );
}
.intro_video_mobile {
  display: none;
}

.form_input {
  font-family: inherit;
  width: 80%;
  margin-bottom: 1.2rem;
  color: var(--obsidian);
  border-radius: 5px !important;
  padding: 1rem;
  border: none;
}
.form_label {
  width: 80%;
  margin: 0rem;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.form_button {
  border-radius: 5px;
  border: 2px solid var(--marble) !important;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background-color: transparent;
  align-self: flex-end;
  margin-right: 10%;
  font-family: inherit;
  color: var(--marble);
  cursor: pointer;
}
.media_holder {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 760px) {
  .main_article_overlay {
    width: 100vw;
  }
  .form_button {
    margin: 0;
  }
  .form_input {
    width: 100%;
    font-family: inherit;
  }
  .form_label {
    width: 100%;
  }
  .page {
    flex-direction: column;
    width: 100%;
  }
  .intro_video_mobile {
    display: block;
  }

  .media_holder {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
}
