._config {
}

.main_container {
  display: flex;
  composes: _config;
  position: sticky;
  background: var(--main-background-color);
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  padding: 0.6rem 0.8rem;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}
.header_items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav_link {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: inherit;
  font-size: 0.95rem;
  font-weight: 200;
  margin: 0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: text-decoration-color 200ms ease;
}
.nav_link:hover {
  text-decoration-color: color-mix(in srgb, var(--ruby) 40%, var(--marble) 60%);
}

.nav_link_special {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: nav_link;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.8rem 0.8rem;
  background-color: var(--trim-color);
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
}

.menu_button {
  background-color: transparent;
  width: 2.5rem;
  border: none;
}
@media only screen and (max-width: 760px) {
  .nav_links {
    display: none;
  }
  .nav_link_special {
    font-size: 1.1rem;
    padding: 0.6rem 0.6rem;
  }
  .header_items {
    align-items: center;
  }
  .main_container {
    width: 100%;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    height: 4.5rem;
  }
  .menu_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media only screen and (max-width: 300px) {
  .nav_links {
    gap: 0.7rem;
  }
}
