:root {
  --obsidian: #121212;
  --marble: #ebebeb;
  --ruby: #ff2042;
  --gold: #ffe366;
  --sapphire: #5100ff;
  --concrete: #797979;

  --main-background-color-dark: var(--obsidian);
  --main-background-color-white: var(--marble);
  --main-font-color-black: var(--obsidian);
  --main-font-color-white: var(--marble);

  --trim-color: var(--ruby);
  --border-color: var(--concrete);

  --main-font-color: var(--main-font-color-black);
  --main-background-color: var(--main-background-color-white);
  --bg-change: bg-change;
  --rotate: rotate;

  --tablet-dim: 760px;
  --phone-dim: 300px;
}

html {
  max-width: 100vw;
  width: 100vw;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}
body {
  width: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 100px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--concrete);
}
* {
  text-decoration-color: color-mix(in srgb, var(--ruby) 40%, var(--marble) 60%);
}
mark {
  background-color: #ffed9b;
}

@keyframes bg-change {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-45deg);
  }
}

@keyframes rotate {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10%);
  }
}
