:root {
  --main-background-color-dark: rgb(36, 36, 36);
  --main-font-color: rgb(245, 245, 245);
  --rose-gold: #ff8395;
  --gold: #ffe366;
}

html {
  max-width: 100vw;
  width: 100vw;
  background-color: var(--main-background-color-dark);
  color: var(--main-font-color);
}
body {
  width: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
