:root {
  --main-background-color-dark: rgb(27, 27, 27);
  --main-font-color: rgb(245, 245, 245);
  --rose-gold: #ff8395;
  --gold: #ffe366;
}

html {
  max-width: 100vw;
  width: 100vw;
  background-color: var(--main-background-color-dark);
  color: var(--main-font-color);
}
body {
  width: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
