.menu {
  display: flex;
  position: fixed;
  z-index: 103;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  background-color: rgba(20, 20, 20, 0.9);
  backdrop-filter: blur(60px);
  flex-direction: column;
  opacity: 0;
  transition: opacity 400ms ease, backdrop-filter 400ms ease;
  top: 0;
}

.menu_selections {
  flex: 1;
}
